PORT=3000
LEDGER_MODE=mock
MOCK_LEDGER_PATH=../../data/mock-ledger.json
OFFCHAIN_ROOT=../../data/offchain

# Fabric Gateway mode
FABRIC_CHANNEL_NAME=uav-blackbox
FABRIC_CHAINCODE_NAME=uavblackbox
FABRIC_MSP_ID=Org1MSP
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_PEER_HOST_ALIAS=peer0.org1.example.com
FABRIC_TLS_CERT_PATH=C:/path/to/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt
FABRIC_SIGN_CERT_PATH=C:/path/to/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/signcerts/cert.pem
FABRIC_PRIVATE_KEY_PATH=C:/path/to/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/User1@org1.example.com/msp/keystore
